.form-field {
    width: 100%;
    margin: {
        top: 20px;
        right: 0;
        bottom: 20px;
        left: 0;  
    }

    .help {
        font-size: smaller;
        font-style: italic;
    }

    .label {
        margin-bottom: 2px;
    }

    .control {

        input[type=name],
        input[type=password],
        input[type=number],
        input[type=file],
        textarea,
        select {
            width: 100%;
        }
    }
}

.submit-button {
    width: 100%;
}

.errors-list .error-description {
    color: #ff0000;
}